/*
colores:
https://color.adobe.com/es/create/color-wheel

cuadrado 

A #D5DB18
B #B9EDE9
c #D5DB2E
D #7E18DB
E #DB5F23

fonts:
https://fonts.google.com/share?selection.family=Pacifico%7CQuicksand:wght@300;400

font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;

*/

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

/*header*/ 
header {
    height: 100vh;
    background-image: url(./layouts/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.off-btn {
    display: none;
}

.topnav {
    width: 100%;
    display: inline-flex;
    background-color: #B9EDE9; /* B */
    overflow: hidden;
}
.topnav a {
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: #7E18DB;
    padding: 2vh 2vw;
    border: none;
}
.topnav a:hover {
    color: #DB4800;
}
.topnav a.active {
    background-color: #D5DB18; /* A */
    color: #fff;
}

.login {
    background-color: #fff;
    border-radius: 5px;
}



.title {
    letter-spacing: -2;
    font-size: 15vw;
    font-weight: 300;
    text-align: center;
    color: #7E18DB;
}
.title span {
    font-family: 'Pacifico', cursive;
    font-size: 20vw;
    color: #D6DB2E;
}

footer {
    display: flex;
    background-color: #B9EDE9; /* B */
    justify-content: space-between;
    font-size: 1em;
    padding: 2vh 2vw;
}
footer h5, footer h6 {
    padding-left: 2vw;
    color: #7E18DB;
}
footer a {
    padding: 2vh 2vw;
    text-decoration: none;
    color: #7E18DB;
}

.bottomnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 48vw;
}
.bottomnav li a {
    display: block;
}
.bottomnav li a:hover {
    background-color: #3EC29F;
    color: white;
}

.social a {
    font-size: calc(2em + 1vw);
    text-align: right;
}
.social a:hover {
    color: #3EC29F;
}

@media screen and (max-width: 1024px) {
    /*header*/
    .off-btn {
        display: block;
        color: #D6DB2E;
        font-size: 1.5em;
        padding: 16px;
        cursor: pointer;
    }
    .off-menu {
        position: fixed;
        display: inline-block;
        z-index: 1000;
    }
    
    .topnav {
        display: none;
        position: absolute;
    }
    .topnav a {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        color: #7E18DB;
        padding: 2vh 2vw;
    }
    .topnav a:hover {
    color: #DB4800;
    }
    .topnav a.active {
        background-color: #7E18DB;
        color: #fff;
    }

    .off-menu:hover {
        height: 100%;
        background-color: #B9EDE9; /* B */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .off-menu:hover .off-btn, .off-menu:hover .topnav {
        display: block;
        width: 45vw;
        color: #fff;
    }
}

@media screen and (max-width: 640px) {
    /*sin cambios*/
}