/*
colores:
https://color.adobe.com/es/create/color-wheel

cuadrado 

A #D5DB18
B #B9EDE9
c #D5DB2E
D #7E18DB
E #DB5F23

fonts:
https://fonts.google.com/share?selection.family=Pacifico%7CQuicksand:wght@300;400

font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;

*/

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

/*header*/ 
header {
    height: 100vh;
    background-image: url(./layouts/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.off-btn {
    display: none;
}

.topnav {
    width: 100%;
    display: inline-flex;
    background-color: #B9EDE9; /* B */
    overflow: hidden;
}
.topnav a {
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: #7E18DB;
    padding: 2vh 2vw;
    border: none;
}
.topnav a:hover {
    color: #DB4800;
}
.topnav a.active {
    background-color: #D5DB18; /* A */
    color: #fff;
}

.login {
    background-color: #fff;
    border-radius: 5px;
}



.title {
    letter-spacing: -2;
    font-size: 15vw;
    font-weight: 300;
    text-align: center;
    color: #7E18DB;
}
.title span {
    font-family: 'Pacifico', cursive;
    font-size: 20vw;
    color: #D6DB2E;
}

section {
    width: 90%;
    margin: auto;
}

.subtitle {
    padding: 2vh 2vw;
    font-size: calc(2em + 2vw);
    font-weight: 200;
    text-align: center;
    color: #7E18DB;
}

.preface {
    background-color: #B9EDE9;
    font-size: calc(1em + 1vw);
    text-align: center;
    color: #7E18DB;
    padding: 4% 10%;
}

.article {
    text-align: justify;
}

.subtitle span, .preface span, .article span {
    font-weight: 600;
}

.article a, .article a:visited {
    text-decoration: none;
    color: #7E18DB;
}
.article a:hover {
    color: #DB5F23;
}

.section-btn, .center-btn:hover {
    background-color: #fff;
    color: #7E18DB;
}
.section-btn:hover, .center-btn {
    background-color: #7E18DB;
    color: #fff;
}

.center-div {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.div {
    background-color: #DB5F23;
    height: 25vh;
}


.carousel {
    float: right;
    width: 44vw;
    height: 44vw;
    overflow: hidden;
    margin: 0 0 0 2vw ;
}
.carousel ul {
    padding: 0;
    width: 2100%;
    height: 100%;
    display: flex;
    align-items: center;
    animation: mascotas 200s linear infinite;
}
    @keyframes mascotas {
        0% {margin-left: 0%;}
        2% {margin-left: 0%}

        3% {margin-left: -100%;}
        7% {margin-left: -100%;}

        8% {margin-left: -200%;}
        12% {margin-left: -200%;}

        13% {margin-left: -300%;}
        17% {margin-left: -300%;}

        18% {margin-left: -400%;}
        22% {margin-left: -400%;}

        23% {margin-left: -500%;}
        27% {margin-left: -500%;}

        28% {margin-left: -600%;}
        32% {margin-left: -600%;}

        33% {margin-left: -700%;}
        37% {margin-left: -700%;}

        38% {margin-left: -800%;}
        42% {margin-left: -800%;}

        43% {margin-left: -900%;}
        47% {margin-left: -900%;}

        48% {margin-left: -1000%;}
        52% {margin-left: -1000%;}

        53% {margin-left: -1100%;}
        57% {margin-left: -1100%;}

        58% {margin-left: -1200%;}
        62% {margin-left: -1200%;}

        63% {margin-left: -1300%;}
        67% {margin-left: -1300%;}

        68% {margin-left: -1400%;}
        72% {margin-left: -1400%;}

        73% {margin-left: -1500%;}
        77% {margin-left: -1500%;}

        78% {margin-left: -1600%;}
        82% {margin-left: -1600%;}

        83% {margin-left: -1700%;}
        87% {margin-left: -1700%;}

        88% {margin-left: -1800%;}
        92% {margin-left: -1800%;}

        93% {margin-left: -1900%;}
        97% {margin-left: -1900%;}

        98% {margin-left: -2000%}
        100% {margin-left: -2000%;}
}
.carousel li {
    width: 100%;
    list-style: none;
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Recursos */

.menu {
    position: relative;
    display: inline-block;
    margin-left: 30vw;
}
.unfold {
    background-color: #7E18DB;
    font-size: 1.2em;
    color: white;
    width: 40vw;
    padding: 2vw 0;
    border: none;
}
.unfold-content {
    display: none;
    position: absolute;
    background-color: #B9EDE9;
    z-index: 1;
}
.unfold-content a {
    display: block;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: #7E18DB;
    width: 40vw;
    padding: 2vh 0;
}
.unfold-content a:hover {
    background-color: #D5DB2E;
    color: #fff;
}
.menu:hover .unfold-content {
    display: block;
}

.maps {
    margin-top: 2%;
    border: none;
    width: 100%;
    height: 50vh;
}

.article > div {
    padding: 5%;
}

footer {
    display: flex;
    background-color: #B9EDE9; /* B */
    justify-content: space-between;
    font-size: 1em;
    padding: 2vh 2vw;
}
footer h5, footer h6 {
    padding-left: 2vw;
    color: #7E18DB;
}
footer a {
    padding: 2vh 2vw;
    text-decoration: none;
    color: #7E18DB;
}

.bottomnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 48vw;
}
.bottomnav li a {
    display: block;
}
.bottomnav li a:hover {
    background-color: #3EC29F;
    color: white;
}

.social a {
    font-size: calc(2em + 1vw);
    text-align: right;
}
.social a:hover {
    color: #3EC29F;
}

@media screen and (max-width: 1024px) {
    /*header*/
    .off-btn {
        display: block;
        color: #D6DB2E;
        font-size: 1.5em;
        padding: 16px;
        cursor: pointer;
    }
    .off-menu {
        position: fixed;
        display: inline-block;
        z-index: 1000;
    }
    
    .topnav {
        display: none;
        position: absolute;
    }
    .topnav a {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        color: #7E18DB;
        padding: 2vh 2vw;
    }
    .topnav a:hover {
    color: #DB4800;
    }
    .topnav a.active {
        background-color: #7E18DB;
        color: #fff;
    }

    .off-menu:hover {
        height: 100%;
        background-color: #B9EDE9; /* B */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .off-menu:hover .off-btn, .off-menu:hover .topnav {
        display: block;
        width: 45vw;
        color: #fff;
    }
}

@media screen and (max-width: 640px) {
    /*sin cambios*/
}