<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>

    <script src="https://kit.fontawesome.com/a588efa7ad.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static.css/index.css">
	<link rel="stylesheet" href="../static.css/forms.css">
</head>
<body class="form-page">
    <main class="form-bg">
        <h1 class="form-title">Digital <span><br>Pet</span></h1>

        <h2 class="form-subtitle">Editar información de usuario</h2>
		
		<div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
			<div class="card-body">
				<h5 class="card-title">Error</h5>
				<p class="card-text" th:text="${error}"></p>
			</div>
		</div>

		<form th:action="@{/usuario/modificar/__${usuario.id}__}" method="POST" class="form" id="form">
			<div class="form-group" id="group-name">
				<label for="name" class="form-label">Nombre<span class="warn">*</span></label>
				<div class="form-group-input">
					<input th:value="${usuario.nombre}" type="text" class="form-input" name="nombre" id="name" placeholder="Elsa">
					<i class="form-validate-state fas fa-times-circle"></i>
				</div>
				<p class="form-input-error">Campo obligatorio.</p>
			</div>

			<div class="form-group" id="group-surname">
				<label for="surname" class="form-label">Apellido<span class="warn">*</span></label>
				<div class="form-group-input">
					<input th:value="${usuario.apellido}" type="text" class="form-input" name="apellido" id="surname" placeholder="Bor de L'ncuentro">
					<i class="form-validate-state fas fa-times-circle"></i>
				</div>
				<p class="form-input-error">Campo obligatorio.</p>
			</div>

			<div class="form-group form-group-long" id="group-phone">
				<label for="phone" class="form-label">Teléfono</label>
				<div class="form-group-input">
					<input th:value="${usuario.tel}" type="text" class="form-input" name="tel" id="phone" placeholder="41234567">
					<i class="form-validate-state fas fa-times-circle"></i>
				</div>
				<p class="form-input-error">El teléfono solo puede contener números y el máximo son 14 dígitos.</p>
			</div>

			<div class="form-group form-group-long" id="group-mail">
				<label for="mail" class="form-label">Mail<span class="warn">*</span></label>
				<div class="form-group-input">
					<input th:value="${usuario.mail}" type="email" class="form-input" name="mail" id="mail" placeholder="email@ejemplo.com">
					<i class="form-validate-state fas fa-times-circle"></i>
				</div>
				<p class="form-input-error">El mail solo puede contener letras, números, puntos, guiones y guion bajo.</p>
			</div>

			<div class="form-group form-group-long" id="group-password">
				<label for="password" class="form-label">Ingrese su contraseña actual para confirmar los cambios<span class="warn">*</span></label>
				<div class="form-group-input">
					<input type="password" class="form-input" name="clave" id="password">
					<i class="form-validate-state fas fa-times-circle"></i>
				</div>
				<p class="form-input-error">Ingrese su contraseña actual</p>
			</div>

            <p><span class="warn">*</span>Campo obligatorio</p>

			<div class="form-group form-group-btn-submit">
				<button type="submit" class="form-btn">Enviar</button>
			</div>
		</form>
        <div class="form-footer">
			<nav>
				<ul>
					<li><a href="./">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Info</a></li>
				  </ul>
			</nav>
			<div>
				<a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
				<a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
				<a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
			</div>
		</div>
	</main>

	<script src="../static.js/forms.js"></script>
</body>
</html>