<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalPet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a588efa7ad.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/static.css/index.css"> -->
    <link rel="stylesheet" href="/../static.css/index.css">
</head>
<body>
    <header onselectstart="return false" onsmousestart="return false">
      <a name="goback"></a>
        <div class="off-menu">
            <span class="off-btn"><i class="fas fa-bars"></i></span>
            
            <nav class="topnav">

              <a class="active" th:href="@{/}">Home</a>
              <a th:href="@{/#aboutUs}">About us</a>
              <a th:href="@{/#info}">Info</a>
              <a th:href="@{/recursos}">Recursos</a>
              <a sec:authorize="isAuthenticated()" th:href="@{/usuario/perfil/__${session.usuariosesion.id}__}">Mi perfil</a>

              <!-- Log in -->
              <span >
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn login" role="button" id="#dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Log-in
                </a>

                <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn login" role="button">
                  Log-out
                </a>

                <div class="dropdown-menu" id="dropdownMenuButton">
                    <form th:action="@{/logincheck}" method="POST" class="px-4 py-3">
                      <div class="mb-3">
                        <label for="mail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="mail" name="mail" th:value="${mail}" placeholder="email@ejemplo.com">
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="clave" th:value="${clave}" placeholder="Contraseña">
                      </div>
                      <div class="mb-3">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                            Recordarme <!--Esto es facha nomás-->
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/usuario/registro}">Sign up</a>
                    <a class="dropdown-item" href="#">Recuperar contraseña</a> <!--Esto es facha nomás-->
                  </div>
              </span>
            </nav>
        </div>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
          <div class="card-body">
              <h5 class="card-title">Éxito</h5>
              <p class="card-text" th:text="${exito}"></p>
          </div>
        </div>
       <div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
          <div class="card-body">
              <h5 class="card-title">Error</h5>
              <p class="card-text" th:text="${error}"></p>
          </div>
        </div>
        
        <h1 class="title">Digital <span>Pet</span></h1>
    </header>

    <main>
    
    <a name="aboutUs"></a>
    <section>
      <h2 class="subtitle">About us</h2>
      <article>
        <p class="preface">En Digital Pet queremos acompañarte en el cuidado de tu mascota, para que sólo tengas que concentrarte en quererla.</p>
        <p class="article">
          Registrándote en Digital Pet vas a poder ingresar los datos de tus mascotas y automáticamente vas a conocer todas las vacunaas que se ofrecen para cuidar la salud de tu mascota, tuya y de su entorno. 
          Además, vas a poder llevar un control de sus vacunas tanto aplicadas como pendientes, ya que te vamos a informar respecto a su vencimiento. 
        </p>
      </article>
      <a href="#goback" class="btn section-btn">Volver</a>
    </section>

    <div class="div">

    </div>

    <section>
    <div class="carousel">
      <ul>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 10.02.58 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 10.04.12 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 10.04.50 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 10.06.49 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 10.10.38 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 10.15.57 PM (1).jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 10.15.57 PM (2).jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 10.15.57 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 11.20.48 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 11.20.49 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 11.25.33 PM (1).jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 11.25.33 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-12 at 11.58.37 PM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-13 at 12.09.01 AM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-13 at 12.12.10 AM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-13 at 12.16.37 AM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-13 at 12.27.05 AM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-13 at 12.33.22 AM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-13 at 12.39.06 AM.jpeg" alt="foto">
          </li>
          <li>
              <img src="/../img/WhatsApp Image 2022-05-13 at 12.40.20 AM.jpeg" alt="foto">
          </li>
          <li>
            <img src="/../img/WhatsApp Image 2022-05-12 at 10.02.58 PM.jpeg" alt="foto">
        </li>
      </ul>
  </div>
    
    <a name="info"></a>
      <article class="article">
      <h2 class="subtitle">¿Qué son las <span>vacunas</span>?</h2>
        <p>
          Una vacuna es una preparación destinada a generar inmunidad adquirida contra una enfermedad, mediante la estimulación de la producción de anticuerpos.
        </p>
      <h2 class="subtitle">¿Por qué Vacunar a tus <span>mascotas</span>?</h2>
          <p>
            Así como nosotros, los humanos, las mascotas también deben vacunarse para poder tener una vida lo más sana posible. 
            Por esto, se recomienda vacunar a nuestras mascotas, ya que éstas previenen enfermedades y evitan que otros animales se contagien. 
            Algunos animales salvajes, pueden contagiar enfermedades como el moquillo, la cual puede prevenirse con la aplicación de su correspondiente vacuna. 
            Además, es muy importante pensar que enfermedades como la rabia (la cual puede llegar a ser mortal) puden ser transmitidas hacia las personas. Por este motivo, vacunar a nuestras 
            mascotas siempre es la mejor opción.
          </p>
      <h2 class="subtitle">¿Qué vacunas debo aplicarle a mi <span>mascota</span>?</h2>
          <p>
            Durante las primeras semanas de vida, nuestra mascota recibe las defensas mediante la madre, a través de la lactancia.  
            A medida que comienzan a crecer, hay que reforzar su inmunidad con la ayuda de las vacunas. 
            La inmunización para perros y para gatos es diferente.  
            Empezando por los felinos, estos reciben la triple felina a los dos (2) meses de edad y a los 15 días se coloca el refuerzo. Esta vacuna los protege contra la panleucopenia, el calicivirus y la rinotraqueitis.  
            Junto con la primera, tambi{en reciben la vacuna contra el moquillo, a los dos (2) meses de vida. 
            Seis (6) meses luego se coloca otro refuerzo de la triple felina y, además, la antirrábica.  
            Cada año debe aplicarse el refuerzo de la triple felina y la antirrábica. 
            En el caso de los caninos, de forma similar, se los vacuna a los 2 meses de vida con la polivalente, la cual los protege del adenovirus, moquillo, parainfluenza y parvovirus. 
            A los tres (3) meses se les aplica el refuerzo de la polivalente y, además, se da la vacuna contra la leptospirosis. 
            A los cuatro (4) meses, de forma obligatoria se les da la antirrábica. 
            Luego, queda reforzar la polivalente de forma anual junto con la antirrábica.
            También, existen vacunas opcionales que protegen contra otras enfermedades, aunque las de calendario "obligatorias", son las mencionadas anteriormente.
          </p>
      </article>
      <a href="#goback" class="btn section-btn">Volver</a>
    </section>

    </main>

    <footer>
      <nav>
          <h5>MENÚ</h5>
          <ul class="bottomnav">
              <li><a th:href="@{/}">Home</a></li>
              <li><a th:href="@{/#aboutUs}">About us</a></li>
              <li><a th:href="@{/#info}">Info</a></li>
              <li><a th:href="@{/recursos}">Recursos</a></li>
              <li><a sec:authorize="isAuthenticated()" th:href="@{/usuario/perfil/__${session.usuariosesion.id}__}">Mi perfil</a></li>    
          </ul>
      </nav>
      <div>
          <h5>SEGUINOS EN</h5>
          <div class="social">
              <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
              <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
          <h6>Desarrollado por: </h6>
          <h6>Miti Gianna</h6>
          <h6>Pizzera Camila</h6>
          <h6>Cabrera Tatiana</h6>
          <h6>Medina Oscar</h6>
          <h6>Medina Ezequiel</h6>
          </div>
      </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>